* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  scroll-behavior: smooth;
  transition: all 0.3s linear;
}
.title-wrapper {
  margin: 40px 20px;
  border-bottom: 2px solid thistle;
}
.title-wrapper h1 {
  text-transform: uppercase;
}
.contact-heading {
  font-size: 36px;
}
.form-control {
  display: block;
  width: 100%;
}
.form-control div {
  width: inherit;
  margin: 10px 0;
}
.form-control label {
  width: 12%;
}
.form-control input {
  width: 85%;
  padding: 10px 20px;
  margin-left: 20px;
}
.alert-box {
  margin: 0 auto;
  display: none;
}
